.header_name
{
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;


}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3b5998;
    height: 80px;
    color:white;

}
a{
    margin-right: 80px ;
    cursor: pointer;
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

a:hover{

    text-decoration: aliceblue;
    text-decoration-line:underline;
}
